@model string
<!DOCTYPE html>

<html>
<head>
    <title>Kmd.Logic.DigitalPost.ConsoleSample</title>
</head>
<body>
<div>
    <h1>Kmd.Logic.DigitalPost.ConsoleSample</h1>
    <p>Use this callback url in Logic Console while setting up DigitalPost: @Model</p>
</div>
</body>
</html>